[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
rope = "*"

[packages]
spotipy = "*"
pylast = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"

[requires]
python_version = "3.7"
